<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Cotizacion</title>
</head>

<body>
    <div class="container" >
        <center>
            <H2>Cotizacion</H2>
        </center>
        <form action="/cotizacion" method="post">
            <label for="">Valor del automovil</label>
            <input type="number" id="valor" name="valor" required="true">
            <br>
            <br>
            <label for="">Porcentaje de pago inicial:</label>
            <select name="pinicial" id="pinicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select>
            <br>
            <br>
            <label for="">Plazo</label>
            <select name="plazo" id="plazo">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
            </select>
            <br>
            <br>
            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>

            <% let pagoInicial=0; let totalfin=0; let pmensual=0; if(valor!=null) { pagoInicial=valor * (pinicial/100);
                totalfin=valor - pagoInicial; pmensual=totalfin/plazo; %>
                <hr>
                <h3>Información de la cotización</h3>
                <hr>
                <br>
                Valor del automovil : <%=valor%>
                    Porcentaje de pago Inicial: <%=pinicial%>
                        Plazos : <%=plazo%>
                            <br>
                            Pago inicial: <%=pagoInicial%>
                                Total a financiar: <%=totalfin%>
                                    Pago mensual: <%=pmensual%>
                                        <% } %>
                                            <br>
                                            <br>
                                            <hr>
        </form>
    </div>
</body>
<script src="/public/css/bootstrap.min.css"></script>
</html>