<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <title>Práctica EJS</title>
</head>

<body>

    <div class="container">
        <center>
            <h1>
                <%=titulo%>
            </h1>
            <img src="./img/índice.png" alt="">
        </center>
    </div>
    <center>
        <div class="container">
            <table border="2" class="table table-dark table-bordered table-hover">
                <tr>
                    <th class="text-center">Matricula</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Sexo</th>
                    <th class="text-center">Materias</th>
                </tr>
                <%for(item of listado) {%>
                    <tr>
                        <th class="text-center">
                            <%=item.matricula%>
                        </th>
                        <th class="text-center">
                            <%=item.nombre%>
                        </th>
                        <th class="text-center">
                            <%=item.sexo%>
                        </th>
                        <th class="text-center">
                            <%=item.materias%>
                        </th>
                    </tr>
                    <%}%>
            </table>
        </div>
    </center>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>